{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-color: #f8f9fa;">
    <div class="container" style="margin-top: 100px;">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card" style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
                    <div class="card-header text-white text-center" style="padding: 40px;">
                        <h2 style="color: rgb(204, 21, 21);">Caos <span style="color: rgb(255, 255, 255); background-color: rgb(204, 21, 21); padding: 5px; padding-top: 1px; border-radius: 5px;">New</span></h2>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <p>
                                <a href="{% url 'password_change_form' %}">Olvidé mi contraseña</a>
                            </p>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-success btn-block btn-lg">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>








