{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}
<div class="carta" style="border: 1px solid #ccc; border-radius: 10px; margin: 20px auto; width: 80%; padding: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    {% load crispy_forms_tags %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form | crispy }}
        </table>
        {% if user.staff %}
        <input class="btn btn-success"  type="submit" value="Modificar">
        <input class="btn btn-danger"  type="reset" value="Limpiar">
        {% else %}
        <div class="text-center mt-4">
            <a class="btn btn-outline-success mx-2" href="{% url 'noticia'%}">Volver</a> 
        </div>
        {% endif %}
    </form>
    <h5>{{ msj }}</h5>
    
</div>
{% endblock %}